$containerWidth: 940px;
$baseFontSize: 16px;

//colors
$red: #e01f3d;
$gray: #f5f5f5;
//$darkGreen: #0b4d3c;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400i,700&display=swap&subset=cyrillic");
@import "layout.scss";

//componentss
@import "components/hero";
@import "components/header";
@import "components/feature";
@import "components/btn";