.benefits-section{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 6%;
    width: 0;
    height: 0;
    border-bottom: rem(32px) solid $red;
    border-left: rem(16px) solid transparent;
    border-right: rem(16px) solid transparent;
    transform: rotate(-20deg);
    z-index: 5000;
  }
}