.features{
  display: flex;
}

.feature{
  display: flex;
}

.features__item{
  margin-right: rem(46px);
  &:last-child{
    margin-right: 0;
  }
}

.feature__icon{
  width: rem(45px);
  height: rem(45px);
  margin-right: rem(9px);
}

.feature__text{
  max-width: rem(95px);
}