.radio{
  display: flex;
  margin-right: rem(20px);
  cursor: pointer;
  user-select: none;
  margin-top: .6rem;

  @include phones{
    margin-bottom: .9rem;
  }
  
  &--checkbox{
    .radio__visible{
      border-radius: 0;
    }
  }
}

.radio__elem{
  display: none;
  
  &:checked ~ .radio__visible{
    &::before{
      display: block;
    }
  }

  &:checked ~ .radio__visible--checkbox{
    &::before{
      border-radius: 0;
    }
  }
}

.radio__visible{
  width: rem(26px);
  height: rem(26px);
  position: relative;
  margin-right: rem(4px);
  border-radius: 50%;
  background: #fff;

  &:before{
    content:"";
    width: rem(14px);
    height: rem(14px);
    background: $red;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio--checkbox{
  @include phones{
    // text-align: center;
    margin: 0 auto;
  }
}