$containerWidth: 960px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$red: #e01f3d;
$gray: #f5f5f5;
$color_p: #666666;

//z-indexes

$z-fixed-menu: 100;

@import "media.scss";

//setups
@import url("https://fonts.googleapis.com/css?family=Play:300,400,400i,700&display=swap&subset=cyrillic");
@import "layout.scss";

//componentss
@import "./blocks/*.scss";