.benefit{
  text-align: center;
}

.benefits{
  display: flex;
  @include phones{
    flex-direction: column;
  }
}

.benefits__item{
  flex: 1;
  padding: 0 2%;
  position: relative;

  @include tablets{
    &:before{
      display: none;
    }
    padding: 0 0;
  }

  @include phones{
    display: flex;
    text-align: left;
  }

  &:before {
    content: url("../img/separator.svg");
    position: absolute;
    top: rem(50px);
    right: 0;
    transform: translateX(50%);
  }

  &:first-child{
    padding-left: 0;
  }

  &:last-child{
    padding-right: 0;
    &:before{
      display: none;
    }
  }
}



.benefit__image-wrapper{
  display: inline-block;
  width: rem(126px);
  height: rem(126px);
  position: relative;
  background: $gray;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(20px);
}

.benefit__icon{
  width: rem(58px);
  height: rem(60px);
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.benefit__title{
  font-size: rem(24px);
  font-weight: bold;
  margin-bottom: rem(16px);
}

.benefit__text{
  @include phones{
    margin-left: 2%;
    width: 80%;
  }
}