.btn{

  &--frm-btn{
    @include tablets{
      margin-right: 1.6rem;
    }
  }

  //font-size: 19;
  font-weight: bold;
  padding:rem(21px) rem(41px) rem(20px) rem(40px);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  display: inline-block;
  border: none;

  &--theme--red{
    color: #fff;
    background: $red;
    &:hover{
      color:$red;
      background: #fff;
    }
    &:focus{
      color:$red;
      background: #fff;
    }
  }

  &--theme--transparent{
    padding:rem(21px) rem(25px) rem(20px) rem(25px);
    background: transparent;
    color: #999999;
    text-transform: none;
    font-size: $baseFontSize;
    &:hover{
      color: $red;
    }
    &:focus{
      //color:$red;
    }
  }
}
