.form{
  display: flex;
  //color: blue;
  @include tablets{
    flex-direction: column;
    padding: 4% 16%;
  }
  @include phones{
    padding: 4% 2%;
  }
}

.form__col{
  flex:1;
  margin-right: rem(20px);
  &:last-child{
    margin-right: 0;
  }
  @include tablets{
    margin-right: 0;
    
  }
}

.form__row{
  display: flex;
  margin-bottom: rem(18px);
}

.form__block{
  flex:1;
  margin-right: rem(20px);
  &:last-child{
    margin: 0;
  }
}

.form__input{
  width: 100%;
  padding: rem(20px) rem(8px);
  border: solid rem(3px) transparent;
  &:focus{
    border-color: $red;
    outline: none;
  }
  &-textarea{
    height: rem(180px);
    resize: none;
    @include tablets{
      height: 5.25rem;
    }
  }
  @include tablets{
    padding: .5rem rem(8px);
  }
}

.form__controls{
  display: flex;
  flex-wrap: wrap;
  margin-top: .2rem;
  @include phones{
    justify-content: center;
  }
}

.form__title{
  color: #f8faf9;
  font-size: rem(18px);
}

.form__btns{
  margin-top: 2.5rem;
  display: flex;
  @include tablets{
    justify-content: center;
  }
}