.header{
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
    width: 100%;
}

.menu{
  @include tablets{
    display: none;
  }
  margin-top: 8px;
}

.phone-number.header__phone-number{
  margin-top: 5px;
}

.menu__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;
  white-space: nowrap;
}

.menu__item{
  margin-right: rem(15px);
  margin-bottom: 10px;
  &:last-child{
    margin-right: 0;
  }
}

.menu__link{
  text-decoration: none;
}

.phone-number{
  font-size: rem(21px);
  text-decoration: none;
  display: flex;
  align-items:center;
  white-space: nowrap;
}

.header__phone-number{
  @include tablets{
    display: none;
  }
}

.phone-number__icon-elem{
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(5px);
}

.phone-number__icon{
  //width: rem(12px);
  //height: rem(12px);
  flex-shrink: 0;
}

.logo{
  width: 42px;
  height: 42px;
  margin-right: rem(20px);
  fill: $red;
}