.hero{
  background-color: $gray;
  height: 100vh;
  min-height:740px;
  position: relative;
  @include phones{
    min-height: 660px;
  } 

  &:after{
    content: "";
    position: absolute;
    bottom: rem(-20px);
    left: 80%;
    width: rem(10px);
    height: rem(40px);
    background: #999999;
    transform: rotate(45deg);
  }
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(23px) 0 rem(36px); 
  @include tablets{
    //padding: rem(23px) 0;
    margin-bottom: 25%;
  }
}

.hero__icons-section{
  @include tablets{
    display: none;
  }
}

