.modal{
  display: none;
  &.error-modal{
    color: $red;
  }
}

.modal__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__content{
  margin-bottom: 30px;
}