.order-section{
  background: url("../img/order-background.svg") center no-repeat;
  //height: 100vh;
  background-size: cover;
}

.order-title{
  font-size: 48;
  color: #fff;
  margin-bottom: 45px;
}