.reviews-section{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    bottom: rem(-18px);
    left: 6%;
    width: rem(34px);
    height: rem(34px);
    border-radius: rem(17px);
    background: #999999;
    
  }
}