.reviews-section{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    bottom: -18px;
    left: 6%;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background: #999999;
    
  }
}